@page
@model backend.Pages.Users.FerrariModel
@{
    ViewData["Title"] = "Ferrari";
    Layout = "_Layout";
}

@section Scripts {
    <link rel="stylesheet" href="~/css/cars.css" />
}

<div class="containerAll">
    <div class="form-card">
        <header>
            <h1 class="carTitle">Fast car - </h1>
        </header>

        <h1 class="carTitle">Ferrari</h1>

        <img class="img" src="~/img/ferrari.jpeg" alt="Ferrari" />

        <div class="table mt-3">
            <table>
                <thead>
                    <tr>
                        <th>住</th>
                        <th>专</th>
                        <th>专转 砖</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ferrari 488 GTB</td>
                        <td>260,000 专</td>
                        <td>330 拽"砖</td>
                    </tr>
                    <tr>
                        <td>Ferrari F8 Tributo</td>
                        <td>280,000 专</td>
                        <td>340 拽"砖</td>
                    </tr>
                    <tr>
                        <td>Ferrari SF90 Stradale</td>
                        <td>500,000 专</td>
                        <td>350 拽"砖</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p class="mt-3">
            Ferrari is an Italian luxury sports car manufacturer based in Maranello, Italy.
        </p>
        <p>Founded by Enzo Ferrari in 1939, the company has become synonymous with speed, luxury, and racing success.</p>
        <p>Ferrari continues to innovate with both combustion and hybrid-powered supercars.</p>
    </div>
</div>
